body {
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background-color: #c7b1c4;
}


.page1{

    position: relative;
    width: 66rem;
    height: 45rem;
    background: #af63a5;

}

.sides{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #720063;
    box-shadow: #c7b1c4 ;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}
.sides.rightside.turn{
    transform: rotate(180deg);
}
/*
.home-page{
    width: 941px;
    height: 100px;
    background-color: #9c6ea5;
     
}