body {
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background-color: #c7b1c4;
}


.page1{
    
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;


}

.sides{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #af63a5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}
.sides.rightside.turn{
    transform: rotateY(180deg);
}

.book{
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.book .book-page{
    position:absolute;
    width:50%;
    height: 100%;
    background-color: aliceblue;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.1);
    display: flex;


}

.profile{
    background: aqua;
}
/*
.home-page{
    width: 941px;
    height: 100px;
    background-color: #9c6ea5;
     
}